.profileContainer .profileCard {
  width: 50rem;
}
.profileContainer .profileCard .headerCard {
  position: relative;
  text-align: center;
}
.profileContainer .profileCard .headerCard i {
  font-size: 4vw;
  color: #256bdf;
  position: absolute;
  left: 0.8vw;
  top: 50%;
  transform: translateY(-50%);
}
.profileContainer .profileCard .headerCard .headerTitle {
  font-size: 2vw;
  color: #256bdf;
}