.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: static;
}

.shopeelogo {
  width: 9vw;
  height: 10rem;
}

.shopeewelcome {
  height: 10rem;
  background-color: #2469df;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  color: white;
  font-size: 2rem;
}