.carouselCard {
  height: 25vw;
}

.carouselCard:hover {
  border: 1px solid #1250dc;
}

.productImage {
  width: 100%;
  height: 11vw;
  object-fit: cover;
  border-radius: 5px;
}

.dealSockContainer {
  background-color: #f78d83;
  border-radius: 99px;
}

.dealSock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.9vw;
  font-size: 0.9vw;
  width: 70%;
  padding: 0.15vw;
  background: linear-gradient(to right, #ec8546, #ed2918);
  border-radius: 99px;
}
.dealSock .dealsockIcon {
  padding: 2px;
  border-radius: 99px;
  color: #fed265;
  background: #ff8641;
  font-size: 0.8vw;
}
.dealSock .dealsockContent {
  color: white;
  font-size: 0.8vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardDescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9vw;
}

.price {
  margin-top: 1vw;
  color: #1250dc;
  font-size: 1.1vw;
}
.price .newPrice {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price .oldPrice {
  text-decoration: line-through;
  font-size: 0.8vw;
  color: gray;
}

.cardButton {
  font-size: 1.05vw;
  width: 100%;
  font-weight: 500;
  background: #e6f1ff;
  color: #0a64cc;
  padding: 0.25vw;
  border-radius: 5px;
  border: none;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.cardButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.2) 100%);
  -webkit-mask: linear-gradient(90deg, transparent, white, transparent);
  mask: linear-gradient(90deg, transparent, white, transparent);
  pointer-events: none;
  transition: all 0.5s ease;
}
.cardButton:hover::before {
  left: 100%;
}
.cardButton:hover {
  border: 1.5px solid #0a64cc;
}