.mainProducts {
  width: 100%;
  margin: 2vw auto;
  display: flex;
  gap: 1vw;

  .filter {
    background: white;
    max-height: 18vw;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;

    &Title {
      font-size: 1.6vw;
      color: #025fca;
    }

    &Icon {
      color: #025fca;
      margin: 0 1vw;
    }

    &Content {
      font-size: 1.6vw;
      font-weight: 500;
    }
  }

  .products {
    width: 100%;

    .productsFilter {
      .productsFilterLeft {
        color: #025fca;
        font-size: 1.2vw;
      }

      .productsFilterRight {
        .productsFilterRightTitle {}
      }
    }

    &Filter {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &Left {
        font-size: 1.05vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &Right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1vw;

        &Title {
          font-size: 0.9vw;
          font-weight: 500;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .arrayProducts {
      margin-top: 2rem;
    }
  }
}

.carditem {
  margin: 0.9vw 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  height: 30vw;

  &:hover {
    box-shadow: 0 0 16px 4px rgba(3, 115, 243, 0.7);
    border: 1px solid blue;
  }

  .productImage {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }

  .dealSock {
    display: flex;
    align-items: center;
    margin-top: 0.9vw;
    font-size: 0.9vw;
    width: 60%;
    padding: 0.15vw;
    background-color: #ffc339;
    border-radius: 99px;

    &icon {
      padding: 2px;
      border-radius: 99px;
      color: #ff8641;
      background: orange;
      font-size: 0.9vw;
    }

    &content {
      color: #7a0916;
      font-size: 0.9vw;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .price {
    margin-top: 1vw;
    color: #b71d18;
    font-size: 1.1vw;

    .newPrice {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .oldPrice {
      text-decoration: line-through;
      font-size: 0.8vw;
      color: gray;
    }
  }

  .cardButton {
    font-size: 1.05vw;
    margin: 1vw 0;
    font-weight: 500;
    background: #e6f1ff; // $soft-blue-bg;
    color: #0a64cc; // $main-color;
    width: 100%;
    padding: 0.25vw;
    border-radius: 5px;
    border: none;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;


    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(120deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.2) 100%);

      -webkit-mask: linear-gradient(90deg, transparent, white, transparent);
      mask: linear-gradient(90deg, transparent, white, transparent);

      pointer-events: none;
      transition: all 0.5s ease;
    }

    &:hover::before {
      left: 100%;
    }

    &:hover {
      border: 1.5px solid #0a64cc;
    }
  }
}

.cornerCheck {
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #0d6efd;
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}