.sidebar {
  position: absolute;
  top: 9%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  height: 100;
  /* background: white; */
}

.sidebaricons  {
  font-size: 1.5vw;
  padding: 0.4vw 0;
  color: #3e84e7; 
  cursor: pointer;
  transition: transform 0.2s;
}

.sidebaricons:hover {
  transform: scale(1.2);
}
