.service {
    font-size: 0.8rem;
    justify-content: center;
}

.title{
    font-size: 1.2rem;
    text-align: center;
    
}








/*-------------------------- payment------------------------- */
.gridcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.griditem1 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/visalogo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.griditem2 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/mastercardlogo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.griditem3 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/jcblogo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.griditem4 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/americanexpress.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.griditem5 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/paypallogo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.griditem6 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/applecard.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.griditem7 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/hsbclogo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.griditem8 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/googlepaylogo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}

/*---------------------------- transport------------------------- */

.transportcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.transportitem1 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/airborneexpresslogo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.transportitem2 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/airindialogo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.transportitem3 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/fedexlogo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.transportitem4 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/oltexpresslogo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.transportitem5 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/oracleexpresslogo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.transportitem6 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/upslogo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.transportitem7 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/vietjetairlogo.png'); 
    background-size: contain; /* Đảm bảo hình nền bao phủ toàn bộ phần tử */
    background-position: center; 
    background-repeat: no-repeat; 
}

.transportitem8 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/vietnamairlineslogo.png'); 
    background-size: contain; /* Đảm bảo hình nền bao phủ toàn bộ phần tử */
    background-position: center; 
    background-repeat: no-repeat; 
}

.transportitem9 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/airasialogo.png'); 
    background-size: contain; /* Đảm bảo hình nền bao phủ toàn bộ phần tử */
    background-position: center; 
    background-repeat: no-repeat; 
}

.transportitem10 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/bombardiertransportationlogo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.transportitem11 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-image: url('/public/asset/images/faiveleytransportlogo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}



/*------------------------- download app----------------- */
.downloadapp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}



.downloadappitem1 {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    grid-row: span 3;
    grid-column: 1;
    background-image: url('/public/asset/images/qrcode.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
}

.downloadappitem2 {
    grid-row: 1;
    grid-column: 2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    background-image: url('/public/asset/images/googleplaylogo.png'); 
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat; 

}


.downloadappitem3 {
    grid-row: 2;
    grid-column: 2;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 5px;
    background-image: url('/public/asset/images/amazonlogo.png'); 
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat; 
}


.downloadappitem4 {
    grid-row: 3;
    grid-column: 2;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 5px;
    background-image: url('/public/asset/images/applewatchlogo.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}




